{% extends "account/index.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<p>Please, use following form to login. If you don't have an account <a href="{% url 'register' %}">register here</a></p>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>Email or username:</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>

{% endblock %}


