<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crypthon</title>
</head>
<style>
    html {height: 100%;}
    body {background: linear-gradient(#6a008a, #fa0053);}
</style>
<body>

<h1 style="color:white;">Crypthon</h1>
<p style="color:white;">Cryptocurrency Exchange.</p>
<div>{% block content %}{% endblock %}</div>

<ul class="sidebar-nav">
    {% if user.is_authenticated %}
        <li>User: {{ user.get_name }}</li>
        <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    {% endif %}
</ul>

</body>
</html>